<div class='m-auto py-5 max-w-lg mb-10 flex items-center justify-between overflow-hidden rounded bg-white shadow-lg' style='width:95%'>
    <div class='border-0 pl-4 w-2/6'>
        <img src=<%= category.icon %> alt="category icon">
    </div>
    <div>
        <%= link_to "#{category.name}", category_path(category), class: 'text-xl'%>
        <p class='text-gray-500 text-xs'><%=category.created_at.strftime("%d %b %Y")%></p>
    </div>
    <div>
        <h4 class='pr-4 font-bold'>0.00$</h4>
        <%# <><%= category.budgets.sum(:amount) %> 
    </div>
</div>